<html>
<head>
    <meta charset="utf-8" />
    <title>Wallpapers</title>
    <meta name="keywords" content="壁纸网站" />
    <meta name="description" content="Otto的壁纸网站" />

    <link rel="shortcut icon" href="assets/img/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

<div class="page-bg">

</div>

<div class="wrapper">

    <header class="header">
        <div class="main">
            <div class="container"></div>
            <a href="index.html" class="logo"><img src="assets/img/logo2.png" style="width: 40px"></a>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="category.html">Category</a></li>
                    <li><a href="about.html" target="_blank">About</a></li>
                    <li><a href="https://wuotto.github.io/HomePage/">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header><!-- .header-->

    <main class="content">
        <div id="app">
            <table>
            <tr v-for="items in picList">
                <td v-for="item in items">
                    <a v-bind:href="item.img_url" target="_blank">
                        <img v-bind:src="item.img_url" style="width: 370px;height: 250px;">
                    </a>
                </td>
            </tr>
        </table>
        </div>
    </main><!-- .content -->

</div><!-- .wrapper -->

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data(){
            this.getData()
            return {
                picList: []
            }
        },
        methods:{
                  getData: function () {
                    var dataArr = [];
                    var idArr = [];
                    axios.get('http://api.unsplash.com/collections/273709/photos?client_id=a16d510c0106d8dd704003b823fb4e090e926648238654a97b7eb78b99e62539&per_page=12')
                      .then(function (response) {
                        
                        dataArr = response.data;

                        var imageData = [];
                      for (var i = 0; i < dataArr.length; i+=3) {
                        var imgArr = [];
                        for (var j = i; j < i+3; j++) {
                            var imageObj = dataArr[j];

                            var picObj = imageObj.urls;
                            var picUrl = picObj.regular;
                            var imageJson = {
                              "img_url":picUrl
                            };
                            imgArr.push(imageJson);
                        }
                        imageData.push(imgArr);
                      }
                      this.picList = imageData;
                        
                      }.bind(this))

                  }

                }
    })
</script>

<link href="assets/css/style.css" rel="stylesheet">

</body>
</html>